.body{
    background-color:rgb(206, 206, 206);
    background-image: url("https://i.postimg.cc/cLrmyJ9N/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.titulogo{
    background-image: url("https://i.postimg.cc/qRNTV6XX/banner.png");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 0 0 5px rgb(255, 255, 255);
}
.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 500px;
    height: 250px;
    box-shadow: 0 0 0 3px #ffffff;
    margin-bottom: 50px;
    border-radius: 10px;
}
.imghome, .imgdetail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 0 2px white;
}
.cardInterior{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.boton{
    width: 200px;
    background-color: black;
    margin-top: 50px;
}
.cardetail{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    width: 1000px;
    height: 500px;
    box-shadow: 0 0 0 3px #ffffff;
    margin-bottom: 50px;
    border-radius: 10px;
}
.cardetailint{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/*.titledetail{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.Descrp{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.Descrpdetail{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}
.price{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.pricedetail{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.buttom, .buttomcont{
    width: 100%;
    color: white;
    background-color: black;
}


.activo{
    color:darkred;
}
.text{
    margin: auto;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.imagen{
    display: grid;
    flex-direction: row;
    width: 30%;
    box-shadow: 0 0 0 2px #000000;
    margin-left: 30%;
}*/
.navlogo{
    width: 80px;
}
.Navtext{
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.enlaces{
    width: 30px;
    margin: 10px;
    flex-direction: row;
}
.footer{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}